*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("../img/cork-board.jpg");
}
.polaroid {
  position: absolute;
}

.trumpPup {
  position: relative;
  top: 112px;
  left: 125px;
  width: 652px;
  height: 648px;
  z-index: -2;
}

.pin {
  position: absolute;
  top: 40px;
  left: 400px;
  height: 80px;
}
